// Separador hecho por Joshua
.custom_oe_line_separator {
    display: block;
    border-bottom: 1px solid #eaeaea; /* Color de la línea */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}


.o_main_navbar{
    -webkit-text-fill-color: black;
    background-color: #2ECC71;
    //border-color:rgb(44, 94, 196);
}


