 <!-- Menú root padre -->
 <odoo>
    <data>

        <!-- Padre de todos -->
        <menuitem id ="menu_root"
            name ="Eventos"
            sequence="12"/>


        <!-- Menú de la barra de herramientas principal-->
        <menuitem id ="menu_eventos_root"
            name ="Diego"
            sequence="12"
            parent="menu_root"
        />


        <menuitem id="menu_on_click_root"
        name="Lucia"
        sequence="11"
        parent = "menu_root"/>


 <menuitem id="on_click_menu_personas"
        name="Personas"
        parent="menu_on_click_root"
        sequence="1"/>

    <!-- Personas -->


    <menuitem id="menu_cliente_template"
        name="Clientes"
        parent="on_click_menu_personas"
        sequence="1"
        action="cliente_action_window"/>

    <menuitem id="menu_organizador_template"
        name="Organizadores"
        parent="on_click_menu_personas"
        sequence="2"
        action="organizador_action_window"/>



 <!-- Menú de la barra de herramientas principal-->
        <menuitem id ="menu_contrato"
        name ="Lista Contrato"
        sequence="1"
        parent="menu_eventos_root"
        action="on_click_contrato_window"
        />
        
        <menuitem id ="menu_evento"
        name ="Lista Eventos"
        sequence="2"
        parent="menu_eventos_root"
        action="on_click_evento_window"
        />

        <menuitem id="menu_producto"
        name ="Lista Productos"
        sequence="3"
        parent="menu_eventos_root"
        action="on_click_producto_window"
        />

          <menuitem id="menu_lugares"
        name ="Lista Lugares"
        sequence="4"
        parent="menu_eventos_root"
        action="on_click_place_window"
        />

    </data>
</odoo>
