 <!-- Menú root padre -->
 <odoo>
    <data>

        <!-- Padre de todos -->
        <menuitem id ="menu_root"
            name ="Eventos"
            sequence="12"/>



       <!-- Menú de la barra de herramientas principal-->

        <menuitem id="menu_clientes_root"
                  name="Personas"
                    parent="menu_root"
                    sequence="1"/>

        <menuitem id="menu_producto_root"
                  name="Productos"
                    parent="menu_root"
                    sequence="2"/>

        <menuitem id="menu_contrato_root"
                  name="Contrato"
                    parent="menu_root"
                    sequence="3"/>



        <!-- Menu Personas -->

        <menuitem id="menu_cliente_template"
        name="Clientes"
        parent="menu_clientes_root"
        sequence="1"
        action="cliente_action_window"/>

    <menuitem id="menu_organizador_template"
        name="Organizadores"
        parent="menu_clientes_root"
        sequence="2"
        action="organizador_action_window"/>

        <!-- Menu Producto -->

        <menuitem id="menu_producto"
        name ="Lista Productos"
        sequence="1"
        parent="menu_producto_root"
        action="on_click_producto_window"
        />

          <menuitem id="menu_lugares"
        name ="Lista Lugares"
        sequence="2"
        parent="menu_producto_root"
        action="on_click_place_window"
        />

        <!-- Menu COntratos -->


        <menuitem id ="menu_contrato"
        name ="Contrato"
        sequence="1"
        parent="menu_contrato_root"
        action="on_click_contrato_window"
        />

        <menuitem id ="menu_evento"
        name ="Eventos"
        sequence="2"
        parent="menu_contrato_root"
        action="on_click_evento_window"
        />















    </data>
</odoo>
