<odoo>
  <data>
    <!-- Menu root -->
    <menuitem id="menu_on_click_root"
        name="On Click"
        sequence="11"/>

    <!-- Personas -->
    <menuitem id="on_click_menu_personas"
        name="Personas"
        parent="menu_on_click_root"
        sequence="1"/>

    <menuitem id="menu_cliente_template"
        name="Clientes"
        parent="on_click_menu_personas"
        sequence="1"
        action="cliente_action_window"/>

    <menuitem id="menu_organizador_template"
        name="Organizadores"
        parent="on_click_menu_personas"
        sequence="2"
        action="organizador_action_window"/>

    <!-- Productos -->
    <menuitem id="on_click_menu_productos"
        name="Productos"
        parent="menu_on_click_root"
        sequence="2"/>

    <menuitem id="menu_producto_template"
        name="Productos"
        parent="on_click_menu_productos"
        sequence="1"
        action="producto_action_window"/>

<!--
    <menuitem id="menu_lugar_template"
        name="Lugares"
        parent="on_click_menu_productos"
        sequence="1"
        action="lugar_action_window"/>
-->

<!--
    Contratos
    <menuitem id="on_click_contratos"
        name="Contratos"
        parent="menu_on_click_root"
        sequence="3"/>

    <menuitem id="menu_evento_template"
        name="Eventos"
        parent="on_click_contratos"
        sequence="1"
        action="evento_action_window"/>

    <menuitem id="menu_contrato_template"
        name="Contratos"
        parent="on_click_contratos"
        sequence="2"
        action="contrato_action_window"/>
-->

    </data>
</odoo>